body {
    font-family: "Open Sans", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #2c3e50;
    background: url(../images/paisley.png) repeat;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625em;
}

.jumbotron {
    font-size: 48px;
    text-shadow: 2px 2px 2px #aaa;
}

.movie-panel {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.movie-image-container {
    position: relative;
    overflow: hidden;
    max-height: 300px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.movie-image-container .text {
    text-shadow: 1px 1px 1px #aaa;
    color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 10%;
  margin: 0;
    opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movie-image-container img {
  width: 100%;
  height: auto;
/*  max-width: 280px;*/
  display: block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.movie-image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.movie-image-container:hover img, .movie-image-container:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.movie-image-container:hover .overlay, .movie-image-container:focus .overlay {
  opacity: 0.6;
  filter: alpha(opacity=0.6);
}
.movie-image-container:hover .text, .movie-image-container:focus .text {
  opacity: 1;
  filter: alpha(opacity=1);
}
a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container {
    background: white;
}

.btn {
    border-radius: 2px;
}

.navbar {
    background: #FFF;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    min-height: 60px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
    color: azure;
  background-color: brown;
}

.sponsor {
    padding-bottom: 10px;
}

.sponsor-image {
    box-shadow: 1px 1px 1px rgba(0,0,0,.05);
    padding-bottom: 10px;
}

.about {
    color: whitesmoke;
    background: #363B48;
    font-size: 1.1em;
    line-height: 1.6em;
    font-family: 'latolight', sans-serif;
}

.about > p {    
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.footer-text {
    font-size: 1.5em;
}

.ticketButton {
    width: 60%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.panel {
    margin-top: 5px;
    border: 2px solid transparent;
}

newlist {
    color: #18bc9c;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
        
    
}

navbarnew {
    min-height: 60px;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    border-radius: 4px;
}

bodythings {
    line-height: 1.42857143;
    
}

activenav {
        background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
}

buttonthingy {
        background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
        text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    line-height: 1.42857143;
}

.padder {
    padding: 10px;
}

.text-justify {
    text-align: justify;
}

.affix {
    top:20px;
}

.board > div > img {
    max-height: 240px;
}

.board-members {
    margin-bottom: 10px;
    padding-bottom: 10px;
/*    border-bottom: 2px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/*Animations*/
.movie-panel.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    top: -20px;
}

.movie-panel.ng-enter-stagger {
            transition-delay: 0.1s ;
                -webkit-transition-delay: 0.1s ;
            /*
                FROM THE DOCUMENTATION:
                In case the stagger doesn't work then these two values must be set
                to 0 to avoid an accidental CSS inheritance.
            */
            transition-duration: 0s ;
                -webkit-transition-duration: 0s ;
        }

.movie-panel.ng-enter-active {
    opacity: 1;
    top: 0;
}