    <div class="container" ng-controller="MovieDetailController">
        <div class="row">
            <img src="images/divider.png" class="img-responsive">
        </div>
        <div class="row">
            <div class="jumbotron">
                <h2>MOVIES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <img style="max-height:500px; margin-top:20px;" class="img-responsive img-thumbnail" src={{movie.bigimage}} >
            </div>
            <div class="col-sm-4 col-xs-12">
                <h3>{{movie.name}} </h3>
                <hr>
                <p>Language - {{movie.language}}</p>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Edmonton
                    </div>
                    <div class="panel-body">
                        <p>Venue : {{movie.venue}} </p>
                        <p>Screening : {{movie.when.edmonton[0] | date: ' EEEE - MMM d, y @ hh:mma'}}</p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Calgary
                    </div>
                    <div class="panel-body">
                        <p>Venue - Metro Cinema</p>
                        <p>Screening - {{movie.when.calgary[0] | date: ' EEEE - MMM d, y @ hh:mma'}}</p>
                    </div>
                </div>
                <button ng-hide="movie.status == 'old'" class="btn btn-success">Book Now</button>
                <a ui-sref="app">
                <button class="btn btn-default pull-right">Back to Movies</button></a>
            </div>
            <div class="col-sm-12 col-xs-12">
                <h4>Summary</h4>
                <p text-align="justified">{{movie.description}} </p>
            </div>
            <div class="col-sm-12">
                <p style="padding:20px"></p>
            </div>
        </div>
        </div>
        
